/* position / flex */
/* 부모자식관계일때만 desplay flex 쓸 수 있음 */
.header {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.25);
  overflow: hidden;
  z-index: 99;

  /* 위에 설정한 height 100px 바깥에 있는 것들 사라짐. */
  /* left: 100px;
  top: 300px; */
  transition: all 0.5s ease;
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 100px;
}

.header:hover {
  height: 350px;
  background-color: rgba(255, 255, 255, 1);
}
.header:hover .list {
  color: #111;
}
.header .logo {
  position: absolute;
  height: 100px;
  display: flex;
  align-items: center;
  /* 세로 중앙으로 갈때 align */
  /* outline: 1px solid #f00; */
  padding-left: 50px;
  padding-right: 50px;
}

.list {
  display: flex;
  /* 옆으로 나란히 */
  justify-content: center;
  /* (flex)start/center/end/space-around/space-evenly/space-between */
  /* 어디에 정렬할 것인가 main axis(가로축)에 대한 결정을 함 / 세로축은 corss axix */
  color: #fff;
}
.list a.depth01 {
  font-size: 20px;
  font-weight: 500;
  /* display: block;
  height: 100px;
  line-height: 100px; */
  /* 높이만큼의 line-eight를 주면 중앙에 배열된다..(한줄일때 사용) */
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  /* padding은 안쪽의 좌/우 여백을 만든다 */
  /* margin으로도 사용가능. 링크 영역이 바뀜 */
  /* outline: 1px solid #f00; */
  transition: all 0.25s ease;
}

.header .logo a .white {
  position: absolute;
  transition: all 0.25s ease;
}
.header .logo a .black {
  opacity: 0;
  transition: all 0.25s ease;
}
.header:hover .logo a .black {
  opacity: 1;
}
.header:hover .logo a .white {
  opacity: 0;
}

.list > li:hover .depth01 {
  color: #f60;
}

.list .depth02 {
  text-align: center;
  padding-top: 10px;
}
.list .depth02 li a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50px; */
  padding-top: 10px;
  padding-bottom: 10px;
}
.list .depth02 li a:hover {
  color: #f60;
}
