@charset "UTF-8";

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 16px;
  color: #111;
  font-family: "Noto Sans KR", "Cafe24Ssurround", "Raleway", "MYYeongnamnu", "KCCChassam";
  font-weight: 400;
  min-height: 4000px;
  /* 한글폰트에는 영어가 포함되어있지만 영어폰트에는 한글이 포함되어있지 않아서 영어폰트를 먼저 써줘야 한다 */
}

a {
  text-decoration: none;
  color: inherit;
}
