.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 99;
  color: #fff;
}
.header .logo a {
  position: absolute;
  height: 150px;
  display: flex;
  align-items: center;
  padding-left: 80px;
}
.header .logo a img {
  width: 50%;
}
.header .list {
  display: flex;
  position: absolute;
  right: 150px;
  color: #fff;
  padding: 30px;
}
.header .list .depth01 {
  display: flex;
  height: 100px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  padding: 0 30px;
}