.main-visual iframe {
  width: 100%;
  aspect-ratio: 1/0.5625;
  vertical-align: top;
}
.main-visual .txt {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.main-visual .txt .word {
  overflow: hidden;
}
.main-visual .txt h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}

.banner {
  padding: 150px 0;
  overflow-x: hidden;
}
.banner .mask {
  margin-top: 120px;
  position: relative;
}
.banner .mask .list li {
  width: 1160px;
}
.banner .mask .list li p {
  margin-top: 10px;
  font-size: 24px;
}
.banner .mask .list li p .main-text {
  padding: 10px 20px;
  background-color: #111;
  color: #fff;
}
.banner .mask button {
  position: absolute;
  background: none;
  top: 40%;
  border: 2px solid #fff;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  z-index: 2;
  cursor: pointer;
}
.banner .mask button .material-icons {
  font-size: 48px;
  color: #fff;
}
.banner .mask button.btn-next {
  right: 270px;
}
.banner .mask .pagination {
  position: relative;
  margin-top: -15px;
  padding-left: 1050px;
  z-index: 100;
}
.banner .mask .pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #c4c4c4;
  border-radius: 100px;
  transition: all 0.25s ease;
}
.banner .mask .pagination .swiper-pagination-bullet-active {
  width: 40px;
  background-color: #0b7bff;
}

.partner {
  padding: 150px 0;
  background-color: #f7f8f9;
  overflow-x: hidden;
}
.partner .brand {
  margin-top: 50px;
}
.partner .brand ul {
  transition-timing-function: linear;
}
.partner .brand ul li {
  width: auto;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.effect {
  padding: 150px 0;
  position: relative;
  color: #fff;
}
.effect .panel ul {
  display: flex;
  justify-content: space-between;
}
.effect .panel ul li {
  width: 24%;
  font-size: 18px;
  color: rgb(201, 201, 201);
  font-weight: 500;
}
.effect .panel ul li a:hover img {
  transform: scale(1.25);
}
.effect .panel ul li .img-box {
  overflow: hidden;
}
.effect .panel ul li img {
  width: 100%;
  vertical-align: top;
  aspect-ratio: 1/1.5;
  transition: all 500ms ease;
}
.effect .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  aspect-ratio: 1/0.5625;
  z-index: -1;
}

.news {
  padding: 150px 0;
}
.news .title-box {
  display: flex;
  align-items: end;
}
.news .title-box h2 {
  margin-bottom: 0;
}
.news .title-box .detail {
  margin-left: 50px;
  font-size: 20px;
}
.news .panel {
  margin-top: 50px;
}
.news .panel ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.news .panel ul li {
  width: 31%;
}
.news .panel ul li .img-box img {
  width: 100%;
}
.news .panel ul li .text-box h3 {
  margin: 20px 0 30px;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news .panel ul li .text-box p {
  line-height: 1.5;
  height: 6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.recruit {
  color: #fff;
  padding: 150px 0;
  background-image: url(../images/main/background.png);
}
.recruit .text-box {
  font-size: 67.2px;
  font-weight: 700;
  line-height: 1.5;
}
.recruit .text-box .rolling {
  width: 450px;
  display: inline-block;
  text-align: center;
  height: 110px;
  overflow: hidden;
  color: #0b7bff;
  position: relative;
}
.recruit .text-box .rolling::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background-color: #fff;
  bottom: 0;
}
.recruit .more {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  width: 200px;
  height: 54px;
  display: flex;
  background-color: #0b7bff;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 0px #004ba4,2px 2px 0px #004ba4,3px 3px 0px #004ba4,4px 4px 0px #004ba4,5px 5px 0px #004ba4,6px 6px 0px #004ba4,7px 7px 0px #004ba4,8px 8px 0px #004ba4;
  overflow: hidden;
}

.title-box h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4;
}
.title-box h2 .mini {
  color: #0b7bff;
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}
.title-box p {
  font-size: 24px;
  line-height: 1.4;
}
.title-box .detail .material-icons {
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 4px;
}